<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 登陆 -->
  <servlet>
      <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>

	<!-- 用户是否存在 -->
	<servlet>
		<servlet-name>UserExistServlet</servlet-name>
		<servlet-class>com.xunsi.servlet.UserExistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserExistServlet</servlet-name>
		<url-pattern>/user/exist</url-pattern>
	</servlet-mapping>
  
  <!-- 注册 -->
   <servlet>
       <servlet-name>RegisteredServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.RegisteredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteredServlet</servlet-name>
    <url-pattern>/user/regist</url-pattern>
  </servlet-mapping>
  
  <!--实名认证 完善资料 -->
   <servlet>
     <servlet-name>RealnameServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.RealnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RealnameServlet</servlet-name>
    <url-pattern>/user/realname</url-pattern>
  </servlet-mapping>
  
  <!-- 重设密码 -->
  <servlet>
     <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/user/reset</url-pattern>
  </servlet-mapping>
  
  <!-- 修改密码 -->
  <servlet>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/user/chpwd</url-pattern>
  </servlet-mapping>
  
  <!-- 我的供应 -->
  <servlet>
    <servlet-name>UserSupplyServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.UserSupplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSupplyServlet</servlet-name>
    <url-pattern>/user/supply</url-pattern>
  </servlet-mapping>
  
  <!-- 我的购买 -->
  <servlet>
    <servlet-name>UserBuyServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.UserBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBuyServlet</servlet-name>
    <url-pattern>/user/buy</url-pattern>
  </servlet-mapping>
  
  <!-- 图片上传 -->
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/pro/upload</url-pattern>
  </servlet-mapping>
  
   <!-- 商品创建 -->
  <servlet>
    <servlet-name>ProCreateServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.ProCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProCreateServlet</servlet-name>
    <url-pattern>/pro/create</url-pattern>
  </servlet-mapping>
  
  <!-- 客户用户达成契约接口 -->
  <servlet>
    <servlet-name>ProContractServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.ProContractServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProContractServlet</servlet-name>
    <url-pattern>/pro/contract</url-pattern>
  </servlet-mapping>
  
  <!-- 商品展示 -->
  <servlet>
    <servlet-name>ProInfoServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.ProInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProCreateServlet</servlet-name>
    <url-pattern>/pro/info</url-pattern>
  </servlet-mapping>
  
  <!-- 获取类别 -->
  <servlet>
    <servlet-name>ProCateServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.ProCateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProCateServlet</servlet-name>
    <url-pattern>/pro/cates</url-pattern>
  </servlet-mapping>
  
  <!-- 获取城市 -->
  <servlet>
    <servlet-name>ProCityServlet</servlet-name>
    <servlet-class>com.xunsi.servlet.ProCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProCityServlet</servlet-name>
    <url-pattern>/pro/cities</url-pattern>
  </servlet-mapping>
  
  <!-- session超时 -->
  <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
</web-app>
